
.websites-wrapper {
    @apply flex mt-7 flex-wrap gap-[20px];
}
.websites-wrapper .container {
    padding: 0;
  }
.content-body{
  margin-bottom: 0;
}
.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-breadcumnb {
    padding-right: 14px;
    margin-right: 14px;
    margin-bottom: unset;
    border-right: 1px solid #dad9da;

  }
.page-breadcumnb {
    margin-top: -3px;
  }
  .breadcrumb__route__label, .breadcrumb__route {
    color: #727586;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
  }
  .manage-btn{
    @apply p-[24px] flex justify-end;
  }
  .web-btn{
    @apply border border-whiteborder rounded;
  }
  .web-action-icon svg {
    @apply fill-light transform rotate-90 hover:bg-[#f8f1f1] hover:rounded-full;
}


/* webActionPanel */
.hidewebActionPanel{
  @apply hidden;
}
.webActionPanel{
  @apply block absolute bg-[white] rounded-[4px] shadow;
}
.webActionPanel ul li {
  @apply text-left px-[30px] py-[10px] hover:bg-whiteborder cursor-pointer text-[14px] font-[400];
}
.webActionPanel ul li:last-child {
  @apply text-disable;
}