.chat{
    @apply cursor-pointer;
}
.showChatPanel{
    @apply block absolute w-[320px] h-[400px] right-0 bottom-[105px] bg-[white] rounded shadow-sm;
    scroll-behavior: auto;
}
.hideChatPanel{
    @apply hidden;
}

.greet-body{
    @apply p-5 bg-light;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.agent{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.agent img{
    width: 50px;
    border-radius: 50%;
    object-fit: scale-down;
    cursor: pointer;
}
.welcome-note {
    padding: 15px 0;
    text-align: left;
  }
  .greet,.greet-para {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
  }

.send-message {
    @apply flex justify-between items-center bg-[white] rounded text-[black] text-left p-2 shadow-sm;
}

.send-message h5{
    @apply text-[14px] leading-[18px] font-semibold;
}
.send-message p{
    @apply text-[13px] leading-[18px] font-[400] pt-1;
}

.chat-footer {
    @apply flex justify-between items-center bg-[white] rounded shadow-sm mt-4 py-5 px-6;
  }

  .chat-footer-item {
    @apply flex flex-col justify-center items-center;
  }